body {
  font-family: sans-serif;
  padding: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 10px;
  margin-bottom: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
#masterToggleBtn {
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding: 12px;
  margin: 12px 0;
}

#masterSection {
  margin-top: 10px;
}
